In [67]:
import pandas

In [39]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [40]:
friends={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}

In [41]:
friends=pandas.DataFrame.from_dict(friends)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [42]:
list(zip(names, country))

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [84]:
Peruvians=0
for country in friends.country:
    if country == 'Peru':
        Peruvians +=1
    
Peruvians

2

In [134]:
notPeruvian=["Chile", "Senegal", "Spain", "Norway"]

In [105]:
Peruvian = 6
for country in friends.country:
    if not country == 'Peru' :
        Peruvian -=1
Peruvian

2

In [109]:
Peruvian = 0
for country in friends.country:
    if country not in notPeruvian:
        Peruvian +=1
Peruvian

2

In [140]:
Peruvian = 0
for country in friends.country:
    if ~
        Peruvian +=1
Peruvian

TypeError: bad operand type for unary ~: 'str'

In [141]:
Peruvian = 0
for country in friends.country:
    if ~isinstance(value, str):
        Peruvian +=1

Peruvian

6

In [120]:
Men=0
for woman in friends.woman:
    if not woman:
        Men +=1

Men

4

In [128]:
Men=0
for woman in friends.woman:
    if ~woman == -1:
        Men +=1

Men

4