In [67]:
import pandas #imports pandas

In [39]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [40]:
friends={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}

In [41]:
friends=pandas.DataFrame.from_dict(friends)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [170]:
listOfTuples=[(n,c) for (n,c) in zip(friends.names, friends.country)] #creates a set of tuples
listOfTuples

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [84]:
#Creates a count of people from Peru 
Peruvians=0 #Inializes count
for country in friends.country:
    if country == 'Peru':
        Peruvians +=1
    
Peruvians #Returns the count

2

In [134]:
notPeruvian=["Chile", "Senegal", "Spain", "Norway"]

In [109]:
Peruvian = 0
for country in friends.country: #Counts number of Peruvians 
    if country not in notPeruvian:
        Peruvian +=1
Peruvian

2

In [120]:
Men=0 
for woman in friends.woman: #Counts number of men 
    if not woman:
        Men +=1

Men

4

In [128]:
Men=0
for woman in friends.woman: #Counts number of men 
    if ~woman == -1:
        Men +=1

Men

4