In [201]:
import pandas #Imports pandas

In [202]:
names=["Tom√°s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [203]:
friends={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
#Creates dict

In [204]:
friends=pandas.DataFrame.from_dict(friends) #Creates dataframe

In [64]:
friends[friends.woman==False].sort_values('ages',ascending=True).head(1) 
#Sorts the ages of men in friends in ascending order to determine the youngest male and his country

   names  woman  ages country education
2  Pablo  False    28   Spain    Master

In [211]:
men = friends.where(friends.woman == False)
men[men.ages == min(men.ages)].country
#Creates men containing the males in the group then finds the minimum age and country

2    Spain
Name: country, dtype: object

In [212]:
men = friends.query('woman == False')
men[men.ages == min(men.ages)].country
#Creates men containing the males in the group then finds the minimum age and country

2    Spain
Name: country, dtype: object